<footer class="footer">
  <div class="footer-content">
    <!-- Left Section: Logo & Description -->
    <div class="footer-left">
      <div class="logo">
         <img style="border-radius: 50px;" src="assets/luxEmpire.jpeg" alt="Example" width="50px" height="50px" />
        <h3 style="margin-top: 10px;">Luxuria_Empire</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <!-- Links Sections -->
    <div class="footer-links">
      <div class="column">
        <h4>Company</h4>
        <ul>
          <li>About Us</li>
          <li>Blog</li>
          <li>Contact Us</li>
          <li>Career</li>
        </ul>
      </div>
      <div class="column">
        <h4>Customer Services</h4>
        <ul>
          <li>My Account</li>
          <li>Track Your Order</li>
          <li>Return</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="column">
        <h4>Our Information</h4>
        <ul>
          <li>Privacy</li>
          <li>User Terms & Condition</li>
          <li>Return Policy</li>
        </ul>
      </div>
      <div class="column">
        <h4>Contact Info</h4>
        <ul>
          <li>+237 676516888</li>
          <li>luxuria&#64;gmail.com</li>
          <li>BUEA<br>Biaka,Behind Molyko Police</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom">
    <p>Copyright © 2025 Luxuria_Empire. All Rights Reserved.</p>
    <div class="language">
      <span>English ▼</span> | <span>USD ▼</span>
    </div>
  </div>
</footer>
