<!--- <div class="admin-container">
  <h2>Importation Students</h2>

  
  <div class="table-wrapper">
    <table class="students-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Class Type</th>
          
          <th>Aditional notes</th>
          <th>Date registered</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students ; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.classType}}</td>
          <td>{{ student.addition }}</td>
          <td>{{ student.preferred_time }}</td>
          <td>{{ student.date_registered | date:'medium' }}</td>

          <td>
            
            <button class="delete-btn" (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 

-->