<app-header></app-header>

<section class="product-details" *ngIf="product">
  <div class="details-container">
    <!-- Subimages -->
    <div class="sub-images">
      <img 
        *ngFor="let sub of product.sub_images" 
        [src]="'http://localhost:5000' + sub" 
        (click)="setMainImage(sub)" 
        [class.active]="sub === mainImage"
        alt="Product Subimage">
    </div>

    <!-- Main Image -->
    <div class="main-image">
      <img [src]="'http://localhost:5000' + mainImage" alt="{{ product.name }}">
    </div>

    <!-- Info -->
    <div class="info">
      <h1>{{ product.name }}</h1>
      <p class="price">XAF {{ product.price | number }}</p>
      <p class="description">{{ product.description }}</p>
      <p class="category"><strong>Category:</strong> {{ product.category }}</p>
      <p class="type"><strong>Status:</strong> {{ product.type }}</p>
      <button class="buy-btn">Add to Cart</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
